.container {
  padding: 50px;
}

.card {
  padding-bottom: 50px;
  margin-bottom: 20px;
}
 
 }
 /* If screen size is 600px or less, change background color to white */
 @media (max-width: 600px) {
   body {
     background-color: white;
   }
 }