  
#backgroundcolor1 {
    background-color: lightblue;
}
.font1 {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
        color: white;
        font-size: large;
        margin-top: 20 px;
        top:0;
        text-align:left;
  }

  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  
  h2 {
        color: lightblue;
        text-align: center;
        font-size: x-large;

  }
  hr {
      color: grey;
  }

  h3 {
        font-size: medium;
        color: darkgray;
  }
